<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="http://logodatabases.com/wp-content/uploads/2017/06/airbnb_logo_small.png" alt="logo">
    <input type="text" placeholder="Search..">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Register</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Connect</a>
    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
  </div>
</div>


