.wrapper-caroussel-show {
  height: 50vh;
#carousel-show-apt {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.item {
  height: 100%;
}
}

.show-banner-body {
  height: 100%;
  background-size: cover;
}
