.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  background: #418DBD;
  border-radius: 8px;
}

.btn-create {
  margin-top: 10px;
  background: #418DBD;
  color: white;
  border-radius: 8px;
}

.btn.btn-default.search-btn {
border-radius: 10px;
background-color: #ed5434;
}

.form-control-btn{
  border-radius: 8px;
  height: 38px;
  display: flex;
  margin-top: 10px;
}

.btn-default.booking-btn {
  color: #333;
  background-color: #ed5434;
  border-color: #ccc;
  padding: 12px 20px;
  color: #fbf7f7;
  width: 100%;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 40px;
  border: 1px solid #ed5434;
  background: #ed5434;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #ed5434;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
