    <div class="col-md-6">
      <h2>Second add your accomodation's pictures </h2>
       <%= simple_form_for(@apartment, html: { class: "dropzone"}, url: apartments_img_upload_path ) do |f| %>
        <% end %>
    </div>