<h1>Apartment#show</h1>


<%= render "components/carousel" %>

<!-- slidebar details booking -->
<div class="card border-dark mb-3">
  <div class="card-header">Info booking</div>
  <div class="card-body text-dark">
    <div class="col-md-12" id="sidebar">
      <div class="theiaStickySidebar">
        <div class="box_style_1">
          <div id="message-booking">
          </div>
          <form method="post" action="assets/check_avail.php" id="check_avail" autocomplete="off" >
          <input name="room_type" id="room_type" type="hidden" value="Double room">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>Check in</label>
                <input class="startDate1 form-control datepick" type="text" data-field="date" data-startend="start" data-startendelem=".endDate1" readonly placeholder="Arrival" id="check_in" name="check_in">
                <span class="input-icon"><i class="icon-calendar-7"></i></span>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>Check out</label>
                <input class="endDate1 form-control datepick" type="text" data-field="date" data-startend="end" data-startendelem=".startDate1" readonly placeholder="Departure" id="check_out" name="check_out">
                <span class="input-icon"><i class="icon-calendar-7"></i></span>
              </div>
            </div>
          </div><!-- End row -->

          <div class="row">
            <div class="col-md-12 col-sm-6">
              <div class="form-group">
                <label>Guest</label>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type GuestS
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Single</a></li>
                    <li><a href="#">Couple</a></li>
                    <li><a href="#">Family</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <input type="submit" value="Book now" class="btn_full" id="submit-booking">
              </div>
            </div>
          </div>
          </form>
          <hr>
          <a href="#0" class="btn_outline"> or Contact us</a>
          <a href="tel://004542344599" id="phone_2"><i class="icon_set_1_icon-91"></i>+45 423 445 99</a>
        </div><!-- End box_style -->
      </div><!-- End theiaStickySidebar -->
    </div><!-- End col -->
  </div>
</div>







<div class="row">
  <div class="col-md-3">
    <h3>Description</h3>
  </div>
  <div class="col-md-9">
    <p>
        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.  Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed. Ut iriure perpetua voluptaria has, vim postea denique in, mollis pertinax elaboraret sed in. Per no vidit timeam, quis omittam sed at.
    </p>
    <h4>Room facilities</h4>
    <p>
        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
    </p>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <ul class="list_ok">
          <li>Coffee machine</li>
          <li>Wifi</li>
          <li>  Microwave</li>
          <li>Oven</li>
        </ul>
      </div>
    <div class="col-md-4 col-sm-4">
     <ul class="list_ok">
        <li>Fridge</li>
        <li>Hairdryer</li>
        <li>Towels</li>
        <li>Toiletries</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4">
      <ul class="list_ok">
        <li>DVD player</li>
        <li>Air-conditioning</li>
        <li>Tv</li>
        <li>Freezer</li>
      </ul>
    </div>
  </div>
</div><!-- End row  -->

