<h1>Apartment#show</h1>


<%= render "components/carousel" %>

<div class="booking-widget">
                <div class='booking-widget__header'>
                    <figure>
                      <img src='http://www.unjourdeplusaparis.com/files/2013/07/Hotel-Keppler.gif'>
                      <figcaption class='header-caption'>
                        <h3 id="">Hotel Relais</h3>
                        <span id=""><i class="fa fa-map-marker" aria-hidden="true"></i> Paris, France</span>
                      </figcaption>
                    </figure>
                </div>
                <form>
                    <ul class='booking-widget__form'>
                        <li>
                            <label for='check-in'>Check in</label>
                            <div id='check-in' class='form-field'>
                                <input type="text" value="" placeholder="9 July, 2016">
                                <div class='datepicker'><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            </div>
                        </li>
                        <li>
                            <label for='check-in'>Check out</label>
                            <div id='check-out' class='form-field'>
                                <input type="text" value="" placeholder="19 July, 2016">
                                <div class='datepicker'><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            </div>
                        </li>
                        <li>
                          <div class=' form-field form-field__checkbox'>
                            <input type="checkbox" id='flexibleDates' value="">
                          </div>
                            <label for="flexibleDates">Flexible dates</label>
                        </li>
                        <li>
                            <div class='form__dropdown'>
                                <label for='adultsAmount'>Adults</label>
                                <div class='form-field'>
                                <select id='adultsAmount'>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                </select>
                                <div class='select-button'><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                            </div>
                            </div>
                            <div class='form__dropdown'>
                                <label for='childrenAmount'>Children</label>
                                <br>
                              <div class='form-field'>
                                <select id='childrenAmount'>
                                        <option value="0" selected="selected"></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                </select>
                                <div class='select-button'><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <input type="submit" id='bookingSubmit' class='form__submit' value='Search rooms'>
                        </li>
                    </ul>
                </form>
            </div>





<div class="row">
  <div class="col-md-3">
    <h3>Description</h3>
  </div>
  <div class="col-md-9">
    <p>
        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.  Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed. Ut iriure perpetua voluptaria has, vim postea denique in, mollis pertinax elaboraret sed in. Per no vidit timeam, quis omittam sed at.
    </p>
    <h4>Room facilities</h4>
    <p>
        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
    </p>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <ul class="list_ok">
          <li>Coffee machine</li>
          <li>Wifi</li>
          <li>  Microwave</li>
          <li>Oven</li>
        </ul>
      </div>
    <div class="col-md-4 col-sm-4">
     <ul class="list_ok">
        <li>Fridge</li>
        <li>Hairdryer</li>
        <li>Towels</li>
        <li>Toiletries</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4">
      <ul class="list_ok">
        <li>DVD player</li>
        <li>Air-conditioning</li>
        <li>Tv</li>
        <li>Freezer</li>
      </ul>
    </div>
  </div>
</div><!-- End row  -->

